@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');

:root {
  --background: #26282c;
  --card-background: rgb(31, 32, 36);
  --main-color: #f4f6fa;
  --main-font: 'Montserrat', sans-serif;
  --main-font-size: 15px;
}

html,
body {
  background-color: var(--background);
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

body {
  padding: 0px 20px;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
}
